/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}



/****** Main Styling ******/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}



/****** Bars ******/
.bars-found {
    margin: 40px;    
}

.bars {
    margin-top: 30px;
}

.bar {
    margin-bottom: 50px;
}

.bar img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #aaa;
    height: 150;
    margin: 0 auto;
    position: relative;
    width: 150;
}

.bar-name {
    margin-top: 0;
}

.bar-description {
    
}

.bar-count {
    
}

.add-bar, .delete-bar, .alert-add-bar, .alert-delete-bar {
    margin-top: 15px;
}


/****** Footer ******/
footer {
	margin: 100px 0 15px 0;
}



/****** Others ******/
.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.text-small {
    font-size: 16px !important;
}

[ng-cloak] {
    display: none !important;
}



/****** Media Queries ******/
/*@media (max-width: 767px) {*/
/*    .bar-name {*/
/*        margin-top: 15px;*/
/*    }*/
/*}*/